@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  @apply text-base text-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: cornflowerblue;
  background-image: none;
}

.is-close {
  display: none;
}

.is-open {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000;
    background: #fff;
  }
}

/* Home */
.Home__contents {
  width: 100%;
  max-width: 1280px;
  margin: 100px auto;
}

/* Game */
.game {
  display: flex;
  flex-direction: row;
}
.game .board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game .status {
  margin-bottom: 10px;
}
.game .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game .square:focus {
  outline: none;
}
.game .kbd-navigation .square:focus {
  background: #ddd;
}
.game .game-info {
  margin-left: 20px;
}
