@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  @apply text-base text-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: cornflowerblue;
  background-image: none;
}

.is-close {
  display: none;
}

.is-open {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000;
    background: #fff;
  }
}

/* Home */
.Home__contents {
  width: 100%;
  max-width: 1280px;
  margin: 100px auto;
}
